<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Time Mangement System</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Daily Time Record for ACTS Employee.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer> -->
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Welcome.</h1>
    <p>Time Management for<br>ACableworks Technology Solutions</p>
  </ion-text>
  <div class="actions">
      <!-- <div class="login-buttons">
          <ion-button>
              <ion-avatar>
                  <img src="../../../assets/img/ionic3-ico.png">
              </ion-avatar>
              <ion-label>Facebook</ion-label>
          </ion-button>
          <ion-button>
            <ion-avatar>
                <img src="../../../assets/img/bg.jpg">
            </ion-avatar>
            <ion-label>Google</ion-label>
        </ion-button>
      </div> -->
      <!-- <div class="separator">
        <span>or</span>
        <span class="line left"></span>
        <span class="line right"></span>
      </div> -->
      <ion-button class="signup-btn" expand="block" (click)="login()">Login now</ion-button>
      <!-- <p class="login">Existing user? <a (click)="login()">Login now</a></p> -->
  </div>
</ion-content>