<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">Information</ion-item-divider>
  <ion-item text-wrap >
    <ion-label>
        <h5>Version</h5>
        <p>v1.0.0</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Name</h5>
        <p>ACTS Time Management</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Bayanihan Ems</h5>
        <p><a href="http://210.213.91.22:8081/login">ACableworks Technology Solutions</a></p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Powered By</h5>
        <p><a href="http://abcsystems.com.ph/">ABC System Solutions Inc.</a></p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Date Published</h5>
        <p>May 10, 2021</p>
    </ion-label>
  </ion-item>
</ion-content>
