<ion-content>
  <div class="top-section ion-padding">
    <div class="top-menu">
        <ion-menu-button>
          <img src="assets/img/menu.png" alt="">
        </ion-menu-button> 
        <!-- <img src="/assets/bell.png" alt=""> -->
    </div>
    <div class="title">
        <h2>Hi {{ attendance['name'] }}!</h2>
        <ion-select [interfaceOptions]="customActionSheetOptions" value="india">
          <ion-select-option value="india">India</ion-select-option>
          <ion-select-option value="use">USA</ion-select-option>
        </ion-select>
    </div>
    <div class="sub-title">
        <h3>Its Almost {{ today |  date: 'hh:mm a' }}!</h3>
        <p>Attendance Management for ACableworks Technology Solutions in one App!.</p>
        <div class="action-buttons">
          <ion-button *ngIf="attendance['status'] == false && attendance['break_status'] == false" class="call" (click)="timein()">
            <ion-icon name="hourglass"></ion-icon> Time-in
          </ion-button>
          <ion-button *ngIf="attendance['break_status']" class="call" (click)="timeinBreak()">
            <ion-icon name="hourglass"></ion-icon> Time-in Break
          </ion-button>
          <ion-button *ngIf="attendance['status']" class="call" (click)="startBreak()">
            <ion-icon name="stopwatch"></ion-icon> Start Break
          </ion-button>
          <ion-button *ngIf="attendance['status']" class="sms" (click)="endShift()">
            <ion-icon name="time"></ion-icon> End Shift
          </ion-button>
        </div>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <h3>Reminders</h3>
    <div class="content">
        <ion-row>
          <ion-col size="4">
            <img src="assets/img/start.png" alt="">
            <p>Start Shift <br>on Time</p> 
          </ion-col>
          <ion-col size="4">
            <img src="assets/img/break.png" alt="">
            <p>Take a Break</p> 
          </ion-col>
          <ion-col size="4">
            <img src="assets/img/end.png" alt="">
            <p>End your Shift</p> 
          </ion-col>
        </ion-row>
    </div>
  </div>
  <div class="bottom-section ion-margin">
    <img src="assets/img/test.png">
    <div class="content">
      <h3>Attendance is a must!</h3>
      <p>Follow the instruction and do your task</p>
    </div>
  </div>
</ion-content>
