<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup] ='form'>
    <ion-item>
      <ion-label position='floating'>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="submitLogin()" [disabled]="form.invalid">
      Login
    </ion-button>
  </form>
</ion-content> -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissLogin()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <!-- <img src="../../../../assets/img/logo.png" /> -->
  </div>

  <form id="form" [formGroup] ='form'>
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <!-- <app-input type="email" placeholder="Email" formControlName="email"></app-input>
    <app-input type="password" placeholder="Password" formControlName="password"></app-input> -->
    <ion-button 
      expand="block" 
      shape="round" class="signup-btn" 
      (click)="submitLogin()" [disabled]="form.invalid">Login</ion-button>
  </form>
</ion-content>
