<ion-content>
  <div class="top-section ion-padding">
    <div class="top-menu">
        <ion-menu-button>
          <img src="assets/img/menu.png" alt="">
        </ion-menu-button> 
        <!-- <img src="/assets/bell.png" alt=""> -->
    </div>
    <div class="title" *ngIf="attendance != undefined">
        <h2>Hi {{ attendance['name'] }}!</h2>
        <ion-label>{{ attendance.status_work }}</ion-label>

    </div>
    <div class="sub-title">
        <h3>Its Almost {{ today |  date: 'hh:mm a' }}!</h3>
        <p>{{ informations }}</p>
        <div class="action-buttons" *ngIf="attendance != undefined && attendance.time_out == null">
          <ion-button *ngIf="attendance['status'] == false && attendance['break_status'] == false" class="sms" (click)="timein()">
            <ion-icon name="hourglass"></ion-icon> Time-in
          </ion-button>
          <ion-button *ngIf="attendance['break_status']" class="call" (click)="timeinBreak()">
            <ion-icon name="hourglass"></ion-icon> Time-in
          </ion-button>
          <ion-button *ngIf="attendance['status'] && attendance['break_status'] == false" class="call" (click)="startBreak()">
            <ion-icon name="stopwatch"></ion-icon> Start Break
          </ion-button>
          <ion-button *ngIf="attendance['status'] && attendance['break_status'] == false" class="sms" (click)="endShift()">
            <ion-icon name="time"></ion-icon> End Shift
          </ion-button>
        </div>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <h3>Reminders</h3>
    <div class="content">
        <ion-row>
          <ion-col size="4">
            <img src="assets/img/start.png" alt="">
            <p>Start Shift <br>on Time</p> 
          </ion-col>
          <ion-col size="4">
            <img src="assets/img/break.png" alt="">
            <p>Take a Break</p> 
          </ion-col>
          <ion-col size="4">
            <img src="assets/img/end.png" alt="">
            <p>End your Shift</p> 
          </ion-col>
        </ion-row>
    </div>
  </div>
  <div class="bottom-section ion-margin">
    <img src="assets/img/test.png">
    <div class="content">
      <h3>Attendance is a must!</h3>
      <p>Follow the instruction and do your task</p>
    </div>
  </div>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item-divider color="light">Vinnie's Cafe</ion-item-divider>
  <ion-item text-wrap >
    <ion-avatar item-start>
      <img src ="assets/img/undraw_profile_pic_ic5t.png">
    </ion-avatar>
    <ion-label>
        <h2>Angelo Zamora</h2>
        <p>Started 9:00am <br> at Deliveries</p>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row center>
      <ion-col size="6">
        <div>
          <ion-button color="warning" shape="round">Start Break</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-button color="danger" shape="round">End Shift</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  <ion-item-divider class="shift" color="light">Shifts</ion-item-divider>
  <div *ngIf="user != undefined">
      Welcome {{ user["name"]  }}
  </div>
  <div *ngIf="attendance != undefined">
    <h2>{{ attendance['name'] }}</h2>
    <h2>Hours Worked: {{ attendance['hours_worked'] }}</h2>
    <h5>{{ attendance['designation'] }}</h5>
    <h5>{{ attendance['time_in'] }}</h5>
    <ion-button *ngIf="attendance['status'] == false" color="primary" (click)="timein()">Time in</ion-button>
    <ion-button *ngIf="attendance['status']" color="warning" (click)="startBreak()">Start Break</ion-button>
    <ion-button *ngIf="attendance['status']" color="danger" (click)="endShift()">End Shift</ion-button>
  </div>
</ion-content> -->